.checkout_page{
  margin: 50px 0;
  h2{
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    line-height: 52px;
  }
  &__block{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    flex-wrap: wrap;
  }
}

.stepForm{
  padding: 0 2rem;
  width: 100%;
  max-width: 500px;
  margin-bottom: 50px;
  &_head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
  }
}

.step{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  &_icon{
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-size: 18px;
  }
  &_title{
    color: rgba(0, 0, 0, 0.5)
  }
  &_line {
    width: 100%;
    height: 2px;
    background-color: #908c81;
    margin-top: 15px;
  }
}

.step_active{
  .step_icon{
    background-color: #3a3328;
    border: none;
    color: white;
  }
  .step_title{
    color: rgba(0, 0, 0, 0.6)
  }
  .step_line{
    background-color: #3a3328;;
  }
}

.step_passed{
  .step_icon{
    background-color: #3a3328;
    border: none;
    color: white;
  }
  .step_title{
    color: rgba(0, 0, 0, 0.6)
  }
}

.step_btn{
  background-color: #3a3328;
  color: #d7cdb9;
  text-shadow: 0 -1px rgba(0,0,0,.5);
  font-size: 14px;
  white-space: nowrap;
  letter-spacing: 0.08em;
  padding: 8px 20px;
  text-transform: uppercase;
  box-shadow: 0 1px hsla(0,0%,100%,.5);
  transition: all .15s ease-out;
  cursor: pointer;
  max-width: fit-content;
  margin: 0 10px;
  border: 0;
  &:hover {
    background-color: #5d5549;
  }
}

@mixin border_bottom {
  border-bottom: 1px solid hsla(40,27%,78%,.1);
  padding: 30px 35px;
}

.checkout_order{
  background-color: #3a3328;
  height: max-content;
  color: #d7cdb9;
  width: 500px;
  h5{
    font-size: 18px;
  }
  h4{
    font-size: 24px;
  }
  h3{
    font-size: 36px;
  }
  &__item{
    display: flex;
    margin-bottom: 20px;
  }
  &__title{
    @include border_bottom;
    h2{
      font-size: 36px;
      line-height: 36px;
    }
  }
  &__goods{
    @include border_bottom;
  }
  &__sum{
    padding: 30px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.checkout_item{
  &__img{
    margin-right: 15px;
    width: 25%;
    img{
      width: 100%;
      height: 100px;
      object-fit: cover;
    }
  }
  &__content{
    width: 75%;
  }
  &__footer{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  &__price{
    display: flex;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .product_page{
    padding-top: 80px !important;
  }
}

.error_modal{
  color: #960808;
  font-size: 16px;
  text-align: center;
  margin-top: 25px;
}

.review {
  &_block {
    margin: 25px 0;
  }
  svg{
    margin-right: 20px;
  }
  p{
    font-size: 20px;
  }
}