.logo_mobile{
  text-align: center;
}
.header_mobile{
  padding: 0 15px;
  height: 55px;
  justify-content: space-between;
}
.basket_modal{
  height: 35px;
}
@media (max-width: 768px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }
  .cross {
    top: 2%;
    left: 4%;
    z-index: 105;
    width: 30px;
    height: 30px;
  }
  .nav-elements {
    position: fixed;
    right: 0;
    background-color: #1c1a17;
    width: 0;
    transition: all 0.3s ease-in;
    overflow-x: hidden;
    height: 100vh;
    ul{
      display: flex;
      flex-direction: column;
      li {
        margin-top: 30px;
        font-size: 22px;
        line-height: 26px;
        color: #d7cdb9;
      }
    }
    .open{
      padding: 15px;
    }
    &.active{
      width: 100%;
      z-index: 100;
    }
  }

  .login_mob{
    border: 2px solid hsla(40,27%,78%,.2);
    border-left: 0;
    border-right: 0;
    margin: 15px 0;
    text-align: center;
    padding: 15px;
    &__link{
      letter-spacing: .6em;
    }
  }
  .mob_menu {
    .active li{
      color: hsla(40,27%,78%,.5);
    }
  }
}